<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:wght@300;400;500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>IRIC</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
        }
        
        .nav-bar{
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: nowrap;
            background-color: #2c3e50;
        }
        .main-ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .title{
            color: white;
            cursor: pointer;
            font-size: 40px;
            font-weight: bold;
        }
        
        .section-1{
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .items {
            margin-right: 20px;
        }
        .items a {
            text-decoration: none;
            color: white;
            font-size: 19px;
        }
        
        .tit{
            text-align: center;
            margin: 20px 0px ;
        }
        .module{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        #icon{
            display: none;
        }
        @media (max-width :458px){
            .titre{
                font-size: 20px;
            }
            .header-2{
                font-size: 17px;
            }
            .para{
                font-size: 17px;
                max-width: 200px;
            }
            .created-by{
                font-size: 20px;
                width: 100%;
            }
            .items a {
                font-size: 17px;
            }
            .form{
                max-width: 350px;
            }
            input{
                width: 300px;
            }
            .textarea{
                width: 300px;
            }
            .separator{
                width: 96%;
            }
            .section-1{
                width: 93%;
            }
            .main-ul  .items{
                display: none;
            }
            .side-bar{
                display: block;
                width: 300Px;
                height: 90vh;
                background-color: #2c3e50;
                position: absolute;
                z-index: 10;
                left: -300px;
                transition: .5s ease-in all;
            }
            .side-bar-ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style: none;
            }
            .side-bar-ul li {
                margin-top: 100px;
            }
            .items a {
                text-decoration: none;
            }
            #icon{
                display: block;
            }
            .show{
                left: 0;
            }
            input,.textarea{
                max-width: 400px;
            }
            .main-container{
                flex-direction: column;
            }
            .type{
                background-color: rgba(255, 255, 255, 0);
                font-size: 30px;
                padding: none;
                width: 90%;
            }
            .item{
                width: 110%;
            }
            i {
                color: white;
                font-size: 28px;
                margin: 20px;
            }
        }
        .data{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-height:500Px ;
        }
        .data{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        .link{
            color: rgb(112, 112, 112);
            text-decoration: none;
            font-size: 23px;
            margin: 20px;
        }
        .a{
            margin-top: 10px;
        }
        
    </style>
</head>
<body>

    <nav class="nav-bar">
        <h1 class="title animate__animated animate__bounceInDown ">IRIC</h1>
        <ul class="main-ul animate__animated animate__backInRight">
            <li class="items"><a href="/">Home</a></li>
            <li class="items"><a href="/Team">Team</a></li>
            <li class="items"><a href="/contact">Contact</a></li>
            <i class="fa-solid fa-bars" id="icon"></i>

        </ul>
    </nav>
    <hr/>
    <div class="side-bar" id="side-side">
        <ul class="side-bar-ul">
            <li class="items"><a href="/">Home</a></li>
            <li class="items"><a href="/Team">Team</a></li>
            <li class="items"><a href="/contact">Contact</a></li>
            <li class="items"><a href="https://ensak.usms.ac.ma/ensak/wp-content/uploads/2021/07/IRIC-Broch_VM.pdf" target="_blanck">IRIC</a></li>
        </ul>
    </div>

    <div class="module">
        <h1 class="tit"> <%=content%> </h1>
        <div class="data">
            <div class="box">
                <a href="<%=module_1.link%> " target="_blank" class="link a"><%=module_1.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_2.link%> "target="_blank" class="link a"><%=module_2.title%></a>
            </div>
             <div class="box">
                <a href="<%=module_3.link%> " target="_blank"class="link a"><%=module_3.title%></a>
            </div>
             <div class="box">
                <a href="<%=module_4.link%> "target="_blank" class="link a"><%=module_4.title%></a>
            </div> 
            <div class="box">
                <a href="<%=module_5.link%> "target="_blank" class="link a"><%=module_5.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_6.link%> " target="_blank"class="link a"><%=module_6.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_7.link%> " target="_blank" class="link a"><%=module_7.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_8.link%> " target="_blank" class="link a"><%=module_8.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_9.link%> " target="_blank" class="link a"><%=module_9.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_10.link%> " target="_blank" class="link a"><%=module_10.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_11.link%> " target="_blank" class="link a"><%=module_11.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_12.link%> " target="_blank" class="link a"><%=module_12.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_13.link%> " target="_blank" class="link a"><%=module_13.title%></a>
            </div>
            <div class="box">
                <a href="<%=module_14.link%> " target="_blank" class="link a"><%=module_14.title%></a>
            </div>
            

        </div>
    </div>
    <script>
        document.getElementById("icon").addEventListener("click" , function (){
            document.getElementById("side-side").classList.toggle("show");
        });
    </script>
    
</body>
</html> 