<%- include("./header_footer/header.ejs")%>
<!-- Nav bar -->
<%- include("navbar.ejs") %> 
<!-- header -->
<%- include("header.ejs") %> 
<div class="separator">
    <h1>semestre-1</h1>
</div>
<section class="section-1">
    <% items.forEach(item => { %>
        <div class="item">
            <i class="<%= item.icon%> icon"></i>
            <a href="/courses/<%=item.id%> " class="link"><%= item.title%></a>
        </div>
    <% }) %> 
</section>
<div class="separator">
    <h1>semestre-2</h1>
</div>
<section class="section-1">
    <% items_2.forEach(item => { %>
        <div class="item">
            <i class="<%= item.icon%> icon"></i>
            <a href="#" class="link"><%= item.title%></a>
        </div>
    <% }) %> 
</section>
<script   src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer">
    
</script>
<script>
    var typed = new Typed(".type",{
        strings:[" ","Ingénierie des Réseaux Intelligents et Cybersécurité " , " "],
        typeSpeed:100,
        BackSpeed:60,
        loop:true
    })
    
</script>
<!-- footer -->
<%- include("./header_footer/footer.ejs"); %> 