<%- include("./header_footer/header.ejs")%>
<!-- Nav bar -->
<%- include("navbar.ejs") %> 
<!-- header -->
<%- include("header.ejs") %> 
<div class="separator">
    <h1>semestre-1</h1>
</div>
<section class="section-1">
    <% items.forEach(item => { %>
        <div class="item">
            <i class="<%= item.icon%> icon"></i>
            <a href="/courses/<%=item.id%> " class="link"><%= item.title%></a>
        </div>
    <% }) %> 
</section>
<div class="separator">
    <h1>semestre-2</h1>
</div>
<section class="section-1">
    <% items_2.forEach(item => { %>
        <div class="item">
            <i class="<%= item.icon%> icon"></i>
            <a href="#" class="link"><%= item.title%></a>
        </div>
    <% }) %> 
</section>
<!-- footer -->
<%- include("./header_footer/footer.ejs"); %> 